body{
    background-image: url(../pictures/Bg.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: initial;
    animation-iteration-count: 1;
}

/* all pages */
#head-bar{
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 5px;
    z-index: 100;
}

#head-bar .line-down{
    width: 0.5px;
}

#head{
    background-color: hsl(0, 100%, 100%, 60%);
    text-align: center;
}

/* index */
#state[state="hot"]{
    color: hsl(0, 100%, 50%);
}
#state[state="safe"]{
    color: hsl(120, 30%, 50%);
}
#state[state="cold"]{
    color: hsl(220, 100%, 50%);
}

/* information */
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.w-20{
    width: 20%;
}


/* project*/
.container{
    background-color: hsl(0, 100%, 100%, 70%);
    padding-top: 10vh;
}
ol{
    margin: 0;
    padding-inline-start: 6em;
}

/* Developer */
.img-hover{
    transition: .2s;
    z-index: 0;
}
.img-hover:hover{
    transform: scale(1.1);
}

