body{
    background-image: url(../pictures/Bg.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: initial;
}


#head-bar{
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 5px;
    z-index: 100;
}
#head-bar .line-down{
    width: 0.5px;
}
#head{
    background-color: hsl(0, 100%, 100%, 60%);
    text-align: center;
}

#home{
    text-align: center;
    height: 95vh;
}
.container{
    background-color: hsl(0, 100%, 100%, 70%);
    padding-top: 10vh;
}
.detail{
    font-size: 14px;
}
ol{
    margin: 0;
    padding-inline-start: 6em;
}

.img-hover{
    transition: .2s;
    z-index: 0;
}
.img-hover:hover{
    transform: scale(1.1);
}